@media only screen and (min-width: 900px) {
.container{
  width: 900px;
  margin: auto;
  border: 2px solid #BF5F17;
  padding: 10px;
}
/* Header */

/* Main Content */
.icons{
  width: 90%;
  margin-left: 12%;
}
.iconHolder{
  width: 7em;
}
.iconImg{
  height: 65px;
}
.iconHolder img{
  position: relative;
  width: 60%;
  top: 0%;
}
/* Footer */

}
