@media only screen and (max-width: 999em) {
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #EBEAE0;
  padding: 0 0 30px 0;
}
i{
  font-style: italic;
}
a:link, a:visited, a:hover, a:active {
	color: #000;
	text-decoration: none;
}
/* Header */
header{
  text-align: center;
}
header h1{
  max-width: 100%;
  background-color: #BF5F17;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  padding: 10px 0;
  top: 0px;
}
header img{
  display: none;
}
/* Main Content */
main{
  overflow-x: hidden;
}
article{
  margin: 10px auto;
  float: left;
  margin-left: 2%;
}
section{
  width: 100%;
  float: left;
  border-bottom: 2px solid #686462;
  margin-bottom: 3%;
  position: relative;
}

section h2{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  clear: both;
}
  /* Basic Article Styling */
.basic{
  width: 95%;
  clear: both;
}
.basic p{
  width: 75%;
  padding: 2%;
  border-radius: 5px;
  color: white;
  background-color: grey;
  float: right;
  font-weight: lighter;
  transition: all 0.5s ease;
}
.basic img{
  width: 15%;
  float: left;
  margin-right: .1em;
}
.basic h3{
  margin: 5% 0 0 45%;
  position: absolute;
}
  /* Icon Holder Styling */
.icons{
  width: 85%;
  margin-left: 15%;
  opacity: 0;
  transition: all 0.7s ease;
  transform: translateX(-100px);
}
.iconHolder{
  width: 6em;
  height: 6em;
  margin: .2em .5em .5em .5em;
  float: left;
}
.iconHolder img{
  width: 3em;
  margin-left: 25%;
}
.iconHolder img, .iconHolder h3, .iconHolder h4{
  font-weight: bold;
  margin-top: .2em;
  margin-bottom: .2em;
  text-align: center;
  display: block;
}
.iconHolder h4{
  color: #BF5F17;
}
/* Footer */
footer{
  text-align: center;
  font-size: .8em;
  padding-top: 2em;
  clear: both;
}
footer img{
  width: 50%;
  padding-bottom: 1em;
}
/* Animations */
.fromRight{
  transform: rotateY(90deg);
}
.notClick{
  transform: translateX(-100px);
  opacity: 0;
  transition: all 0.4s ease;
}
.fromLeft{
  transform: translateX(0px);
  opacity: 1;
}

}
